# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
.vite/

# Local environment files
.env
.env.local
.env.*.local

# VS Code and OS files
.vscode/
.DS_Store

# Logs
*.log
logs/

# Vercel
.vercel
